.label {
  display: block;
  margin-top: 10px;
  color: grey;
  font-weight: 500;
  font-size: 18px;
}

.input {
  display: block;
  margin-top: 10px;
  padding: 5px;
  width: 560px;
  cursor: pointer;
}

.input:focus {
  outline-color: orange;
}
.wrap {
  display: flex;
  justify-content: center;
}
